<form class="form-horizontal col-lg-6 col-lg-offset-3" method="post" >
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
	<fieldset>
		<legend>Sign Up form</legend>
		<div class="form-group">
			<label for="inputEmail" class="col-lg-2 control-label">Email </label>
			<div class="col-lg-10">
				<%= text_field(:user, :email, class: "form-control") %>
			</div>
		</div>
		<div class="form-group">
			<label for="inputEmail" class="col-lg-2 control-label">Username </label>
			<div class="col-lg-10">
				<%= text_field(:user, :name, class: "form-control") %>
			</div>
		</div>
		<div class="form-group">
			<label for="inputPassword" class="col-lg-2 control-label">Password </label>
			<div class="col-lg-10">
				<%= password_field(:user, :password, class: "form-control") %>
			</div>
		</div>
		<div class="form-group">
			<label for="inputPassword" class="col-lg-2 control-label">Confirm Password </label>
			<div class="col-lg-10">
				<%= password_field(:user, :password_confirmation, class: "form-control") %>
			</div>
		</div>
		<div class="form-group">
			<div class="col-lg-10 col-lg-offset-2">
				<button type="submit" class="btn btn-primary">Submit</button>
			</div>
		</div>
	</fieldset>
</form>